@import url("reset.css");

header {
	width: 1080px;
	height: 60px;
	margin-top: 30px;
	display: inline-block;
}

header img {
	float: left;
}

#search {
	width: 640px;
	height: 48px;
	border: 4px solid #b0b0b0;
	margin-left: 24px;
	box-sizing: border-box;
	float: left;
}

#search input[type="text"] {
	width: 590px;
	height: 36px;
	border: none;
	float: left;
}

#search img {
	margin-top: 4px;
}

#btn {
	float: right;
}

#btn a {
	font-size: 12pt;
	font-weight: 400;
	color: #b0b0b0;
}

#btn a:link {
	text-decoration: none;
}

li {
	display: inline-block;
}

nav {
	width: 100%;
	height: auto;
	margin-top: 10px;
	clear: left;
	font-size: 16pt;
}

nav img {
	float: left;
	margin-right: 5px;
}

nav li {
	display: inline-block;
	margin-right: 15px;
}

nav a:link {
	text-decoration: none;
	color: black;	
}

#nav_title {
	padding: 10px;
	font-size: 18pt;
	font-weight: 500;
	box-sizing: border-box;
}

.box {
	width: 1080px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
}